<mat-toolbar>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Ofertas do Dia</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Mais vendidos</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Computadores</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Games</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Música</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Casa</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Eletrônicos</a>
  <a routerLink="#" class="sub-btn" (click)="$event.preventDefault(); ">Novidades na TechDrop</a>
</mat-toolbar>
