.login-box {
  background: white;
  display: flex;
  flex-direction: column;
  flex: none;
  height: 140px;
  width: 300px;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
  align-items: center;
}

.text-main-box {
  color: black;
  font-weight: 550;
  font-size: 22px;
  text-align: center;
}

.btn-login-offer {
  border-radius: 20px;
  height: 35px;
  width: 275px;
  background: yellow;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.btn-login-offer:hover {
  color: #2563eb;
  cursor: pointer;
}
