<div class="sub-footer">
  <div class="sub-1">
    <p class="title">Conheça-nos</p>
    <a class="text" routerLink="">Sobre a TechDrop</a>
    <a class="text" routerLink="">Informações corporativas</a>
    <a class="text" routerLink="">Acessibilidade</a>
  </div>
  <div class="sub-2">
    <p class="title">Pagamentos</p>
    <a class="text" routerLink="">Meios de Pagamento</a>
  </div>
  <div class="sub-3">
    <p class="title">Deixe-nos ajudar você</p>
    <a class="text" routerLink="">Sua conta</a>
    <a class="text" routerLink="">Frete e prazo de entrega</a>
    <a class="text" routerLink="">Devoluções e reembolsos</a>
    <a class="text" routerLink="">Ajuda</a>
  </div>
</div>
<div class="last-section">
  <a class="logo" routerLink="">
    <img ngSrc="logo-footer.png" width="100" height="50" alt="TechDrop Logo" />
  </a>
  <button class="language-btn">
    <img ngSrc="brasil.svg" width="40" height="15" alt="Brazil Flag" />
    <p>Brasil</p>
  </button>
</div>
