<div class="main-offer">
  <p class="text-main-box">{{ title }}</p>
  <div class="offer-grid" [class.single]="products.length === 1">
    @for (product of products; track product.image) {
      @if (products.length == 1) {
        <a>
          <img [ngSrc]="product.image" [alt]="product.alt" height="250" width="250">
        </a>
      } @else {
        <a>
          <img [ngSrc]="product.image" [alt]="product.alt" height="120" width="120">
        </a>
      }
    }
  </div>
  <a routerLink="" class="view-offers">{{ offer }}</a>
</div>
