<div class="footer">
  <div class="footer-1">
    <a class="txt-click">Condições de Uso</a>
    <p> | </p>
    <a class="txt-click">Política de Privacidade</a>
    <p> | </p>
    <a class="txt-click">Cookies</a>
  </div>
  <div class="footer-2">
    <p class="txt">© 2026-2026 TechDrop.com</p>
  </div>
  <div class="footer-3">
    <p class="grey-txt">TechDrop Comércio do Brasil Ltda. | CNPJ 99.999.999/0001-99</p>
  </div>
  <div class="footer-4">
    <p class="grey-txt">Av. Juscelino Kubitschek, 2041, Torre E, 18° andar - São Paulo CEP: 04543-011 |</p>
    <a class="txt-click-2">Fale Conosco</a>
    <p class="grey-txt"> | ajuda-techdrop&#64;techdrop.com.br</p>
  </div>
  <div class="footer-5">
    <p class="grey-txt">Formas de pagamento aceitas: cartões de crédito (Visa, MasterCard, Elo e American Express), cartões de débito (Visa e Elo), Boleto e Pix.</p>
  </div>
</div>
