<div class="image-home">
  <swiper-container loop="true" autoplay="true" navigation="true" pagination="true">
    <swiper-slide>
      <img ngSrc="carouselHome/imageHome.png" alt="Image Home" class="image-full-home" height="350" width="1000">
    </swiper-slide>
    <swiper-slide>
      <img ngSrc="carouselHome/imageHomeNamorados.png" alt="Image Home" class="image-full-home" height="350" width="1000">
    </swiper-slide>
    <swiper-slide>
      <img ngSrc="carouselHome/imageHomeOfertaEletronicos.png" alt="Image Home" class="image-full-home" height="350" width="1000">
    </swiper-slide>
    <swiper-slide>
      <img ngSrc="carouselHome/imageHomeGames.png" alt="Image Home" class="image-full-home" height="350" width="1000">
    </swiper-slide>
  </swiper-container>
</div>
