mat-toolbar {
  background: #B0C4DE;
  height: 75px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/*Logo*/
.logo {
  margin-right: 30px;
}

.div-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.location-img {
  margin-top: 32px;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
  min-width: 180px;
  font-size: 13px;;
  gap: 2px;
}

.update-cep {
  color: #111184;
  text-decoration: none;
  font-weight: 700;
  font-size: 15px;
}

.update-cep:hover {
  color: #2563eb;
}

/*Search*/
.search {
  display: flex;
  align-items: center;
}

.categories-button {
  height: 40px;
  min-width: 75px;
  font-size: 13px;
  border: 1px solid gray;
  background: #D6DEE2;
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.search-bar {
  margin-right: 20px;
  min-width: 410px;
  background: #f8f8f8;
  --mdc-outlined-text-field-container-height: 35px;
  --mat-form-field-container-height: 35px;
  --mat-form-field-container-vertical-padding: 8px;
  --mdc-outlined-text-field-outline-color: gray;
  --mdc-outlined-text-field-container-shape: 0 8px 8px 0;
}

::ng-deep .search-bar .mat-mdc-form-field-bottom-align::before {
  display: none !important;
}
::ng-deep .search-bar input.mat-mdc-input-element {
  font-size: 13px !important;
}
::ng-deep .search-bar .mat-mdc-floating-label {
  font-size: 13px !important;
}

/*Login*/
.login-header {
  display: flex;
  gap: 8px;
}

.btn-header button {
  width: 90px;
  height: 35px;
  color: black;
  font-size: 14px;
}

.btn-header {
  background: #2563eb;
}

.btn-header:hover {
  color: white;
}

/*Cart*/
.cart-button {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
}
