<header class="app-header">
  <table>
    <tr>
      <td>
        <a href="#"><b>techdrop.</b><br><small>com.br</small></a>
      </td>
      <td>
        <img ngSrc="" width="10" height="10"\>
        <small>A entrega será feita em LOCALIZACAO</small><br>
        <b>Atualizar CEP</b>
      </td>
      <td>
        <table>
          <tr>
            <td><select><option>Todos</option></select></td>
            <td><input type="text" placeholder="Pesquisar Amazon.com.br"></td>
            <td><button>🔍</button></td>
          </tr>
        </table>
      </td>
      <td>
        <small>Olá, faça seu login</small><br>
        <b>Contas e Listas ▾</b>
      </td>
      <td>
        <small>Devoluções</small><br>
        <b>e Pedidos</b>
      </td>
      <td>
        🛒 <b>Carrinho</b>
      </td>
    </tr>
  </table>

  <hr>

  <table>
    <tr>
      <td><a href="#">☰ <b>Todos</b></a></td>
      <td><a href="#">Ofertas do Dia</a></td>
      <td><a href="#">Mais Vendidos</a></td>
      <td><a href="#">Smartphones</a></td>
      <td><a href="#">Computadores</a></td>
      <td><a href="#">Games</a></td>
      <td><a href="#">Acessórios</a></td>
      <td><a href="#">Novidades na TechDrop</a></td>
    </tr>
  </table>
</header>
