<mat-toolbar>
  <a routerLink=""><img ngSrc="logo.png" width="90" height="60 " alt="Logo" class="logo"/></a>

  <div class="div-address">
    <div class="location-img">
      <img ngSrc="location-header.png" width="15" height="20" alt="Location Icon">
    </div>
    <div class="address">
      <span>A entrega será feita em: </span>
      <span>{{address}}</span>
      <a routerLink="" class="update-cep" (click)="$event.preventDefault(); updateCep()">Atualizar CEP</a>
    </div>
  </div>
  <div class="search">
    <button
      class="categories-button"
      mat-button
      [matMenuTriggerFor]="menu"
      #trigger="matMenuTrigger"
      (click)="trigger.openMenu()">
      Todos ᐁ
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Notebooks</button>
      <button mat-menu-item>Celulares</button>
      <button mat-menu-item>Monitores</button>
    </mat-menu>

    <mat-form-field appearance="outline" class="search-bar">
      <mat-label>Pesquisar produtos</mat-label>
      <input matInput [(ngModel)]="searchTerm">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="login-header">
    <button class="btn-header" mat-button (click)="loginRegister()">Entre ou Cadastre-se</button>
  </div>

  <button mat-button class="cart-button" (click)="goToCart()">
    <mat-icon
      [matBadge]="cartItemCount"
      [matBadgeHidden]="cartItemCount === 0"
      matBadgeColor="warn">
      shopping_cart
    </mat-icon>
    <span>Carrinho</span>
  </button>
</mat-toolbar>
